
.footer{
    background-color: #164863;
    padding-top: 1vh;
}

.container{
    margin: auto;
    margin-top: 1%;
    padding-bottom: 2%;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
.separator{
    width: 75%; border: 1px #ddf2f0 solid; margin: auto;
}
.links{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    font-size: 18px;
    font-family: Neue Montreal;
    font-weight: 250;
    gap: 2px;
    scroll-behavior: smooth;
    color: #DDF2F0;
}
.links a{
    text-decoration: none;
    color: #DDF2F0;
}
.links h3{
    font-family: Neue Montreal;
    font-weight: 500;
}
.socials{
    grid-column: 2/3;
    grid-row: 1/2;
    border-left: 1px #DDF2F0 solid;
    border-right: 1px #DDF2F0 solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    font-size: 18px;
    font-family: Neue Montreal;
    font-weight: 250;
    gap: 2px;
    color: #DDF2F0;

}
.socials h3{
    font-family: Neue Montreal;
    font-weight: 500;
}
.socials a{
    text-decoration: none;
    color: #DDF2F0;

}
.footer img{
    margin-right: 5px;
}

.contact{
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    font-size: 18px;
    font-family: Neue Montreal;
    font-weight: 250;
    gap: 2px;
    color: #DDF2F0;

}
.contact h3{
    font-family: Neue Montreal;
    font-weight: 500;
}
.contact img{
    margin-right: 5px;
}
.contact a{
    text-decoration: none;
    color: #DDF2F0;
    ;
}