.navbar{
    width: 80%;
    margin: auto;
    padding-top: 0.8%;
}
.navbar .flex{
    width: 93%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.8%;
}
.navbar-a{
    text-decoration: none;
    color: #DDF2FD;
    font-size: 23px;
    cursor: pointer;
}

.end{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 250;
}

.name{
    margin: 0px; 
    font-size: 32px;
    font-family: Migra;
    font-weight: 650;
}
.icon{
    width: auto;
    height: 30px;
    border-radius: 50%;
}
.navseparator{
    width: 100%; border: 1px #DDF2FD solid; margin: auto;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #DDF2FD;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -6%;
    left: 0;
    background-color: #DDF2FD;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

