.work{
  width: 70%;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin: auto;
  margin-bottom: 150px;

.title{
    text-align: left;
    color: #164863;
    font-family: Neue Montreal;
    font-weight: 400;
    font-size: 28px;
}
.grid{
    padding-top: 2%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1%;
}

.card{
    width: 100%;
    aspect-ratio: 1/1;
    background: #F4F3F1;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    .card-img{
        width: 80%;
        object-fit: cover;
        transition: transform 0.8s;
    }

    .card-name{
        color: #aaa;
        font-size: 15px;
        margin: 0;
        position: absolute;
        bottom: 4%;
        left: 4%;
        letter-spacing: 0.7px;
    }
}

.card:hover{
    .card-img{
        box-shadow: 0px 7px 10px #888888;
        transform: translateY(-20px);
    }
}


.first{
    grid-column: 1/2;
    grid-row: 1/2;
}
.second{
    grid-column: 2/3;
    grid-row: 1/2;
}
.third{
    grid-column: 1/2;
    grid-row: 2/3;
}
.fourth{
    grid-column: 2/3;
    grid-row: 2/3;
}
}
.work a{
    text-decoration: none;
    color: currentColor;
}

.card-icons{
    color: #aaa;
    font-size: 15px;
    margin: 0;
    position: absolute;
    bottom: 4%;
    right: 4%;
    letter-spacing: 0.7px;
    display: flex;   
    gap: 5px;
}

