.App {
  text-align: center;
  background-color: white;
  font-family: Neue Montreal;
}
html{
  scroll-behavior: smooth;
}

.contact-button{
  color: #aaa;
  border: 1px solid #eee;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  padding: 15px 25px;
  transition: all .3s ease;
  z-index: -10;
  position: fixed;
  background-color: #fff;
  bottom: 20px;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
}

.contact-button:hover{
  background-color: #f5f5f5;
  border-color: #e5e5e5;
}
.scrolled{
  opacity: 1;
  z-index: 10;
}

.contact-modal{
  width: calc(100% - 160px);
  max-width: 600px;
  padding: 40px;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -10;
  opacity: 0;
  transform:translate(-50%, -50%);
}
.contact-modal.modal-active{
  z-index: 101;
  opacity: 1;
}
.overlay-bg{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0%;
  left: 0%;
  z-index: 50;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(5px);
  transition: opacity .4s ease;
  background-color: rgba(0,0,0,.3);
}

.overlay-bg.modal-active{
  opacity: 1;
}
.modal-close-button{
  position: absolute;
  top: 5%;
  right: 3%;
  cursor: pointer;
}
.modal-title{
  margin: 0%;
  margin-top: 40px;
  margin-bottom: 20px;
  color: rgba(0,0,0,.7);
  font-weight: 400;
  font-size: 20px;
}
.modal-txt{
  max-width: 525px;
  margin: auto;
  color: #aaa;
}
.form-name-email{
  display: flex;
  margin: auto;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  gap: 40px;
}
.form-name-email input{
  appearance: none;
  background-color: #fdfdfd;
  border: 1px solid #eee;
  border-radius: 5px;
  color: rgba(0,0,0,.8);
  font-size: 14px;
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
}
.form-textarea{
  appearance: none;
  background-color: #fdfdfd;
  border: 1px solid #eee;
  border-radius: 5px;
  color: rgba(0,0,0,.8);
  font-size: 14px;
  padding: 20px;
  width: calc(100% - 40px);
  min-height: 125px;
  font-family: Neue Montreal;
}
textarea:focus, input:focus{
  outline: none;
}

.submit-button{
  color: rgba(0,0,0,.8);;
  border: 1px solid #eee;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  padding: 15px 25px;
  position: relative;
  background-color: #fff;
  min-width: 100px;
  font-size: 14px;
  margin-top: 20px;
}

.submit-button:hover{
  background-color: #f5f5f5;
  border-color: #e5e5e5;
}